---
interface Character {
  ID: string
  Name: string
  Bio: string
  BaseClass: string
  InitialLevel: number
  InitialInternalLevel: number
  InitialSP: number
  Recruitment: {
    Chapter: string
    Description: string
  }
  PersonalSkill: {
    Name: string
    Description: string
  }
  Proficiencies: {
    Innate: Array<string>
    Regular: Array<string>
  }
  BaseStats: {
    Hp: number
    Str: number
    Mag: number
    Dex: number
    Spd: number
    Def: number
    Res: number
    Lck: number
    Bld: number
    Mov: number
  }
  GrowthRates: {
    Hp: number
    Str: number
    Mag: number
    Dex: number
    Spd: number
    Def: number
    Res: number
    Lck: number
    Bld: number
  }
  MaxStatsModifiers: {
    Str: number
    Mag: number
    Dex: number
    Spd: number
    Def: number
    Res: number
    Lck: number
  }
}

interface Props {
  tableType: string
  id: string
  title: string
  character?: Character
}

const { tableType, id, title, character } = Astro.props
---
<article title={ title } class="relative p-0 overflow-x-auto bg-gray-900 bg-opacity-75 border-b rounded-lg shadow-md  border-b-gray-500/50 col-span-full md:col-span-6 md:row-span-1" 
>
  <table id={id} class="w-full text-xs text-center text-gray-400 bg-gray-700 sm:text-sm">
    <thead>
      <tr>
        <th class="text-md" colspan="10">{title}</th>
      </tr>  
      <tr>
          <th>HP</th>
          <th>STR</th>
          <th>MAG</th>
          <th>DEX</th>
          <th>SPD</th>
          <th>DEF</th>
          <th>RES</th>
          <th>LCK</th>
          <th>BLD</th>
          <th>MOV</th>
        </tr>
    </thead>
    <tbody>
      <tr class="bg-gray-800">
        { 
        (tableType === 'Base' && character !== undefined) 
        ? 
          (id === 'baseStats') 
          ?
            <td>{character.BaseStats.Hp}</td>
            <td>{character.BaseStats.Str}</td>
            <td>{character.BaseStats.Mag}</td>
            <td>{character.BaseStats.Dex}</td>
            <td>{character.BaseStats.Spd}</td>
            <td>{character.BaseStats.Def}</td>
            <td>{character.BaseStats.Res}</td>
            <td>{character.BaseStats.Lck}</td>
            <td>{character.BaseStats.Bld}</td>
            <td>{character.BaseStats.Mov}</td>
          :
            <td>{character.GrowthRates.Hp}</td>
            <td>{character.GrowthRates.Str}</td>
            <td>{character.GrowthRates.Mag}</td>
            <td>{character.GrowthRates.Dex}</td>
            <td>{character.GrowthRates.Spd}</td>
            <td>{character.GrowthRates.Def}</td>
            <td>{character.GrowthRates.Res}</td>
            <td>{character.GrowthRates.Lck}</td>
            <td>{character.GrowthRates.Bld}</td>
            <td>-</td>
        :
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        }
      </tr>
    </tbody>
  </table>
</article>