---
import characters from '@/assets/data/characters.json'
import { Image } from "astro:assets"

const images = await Astro.glob('@/assets/images/characters/*.webp')
.then((files) => files
  .map((file) => file.default) 
)
---
{ characters.map(char => (
    <a href={`character/${char.ID}`}
      id={char.ID}
      class="relative transition-all duration-200 ease-in-out bg-gray-800 border border-gray-700 rounded-lg shadow-md hover:scale-110 hover:z-1 hover:bg-gray-700 hover:border-gray-500"
    >
      {
        (images.filter(item => item.src.includes(char.ID))).map((img) => (  
        <Image
            src={img}
            alt={char.Name}
            class="rounded-lg md:row-span-2 md:col-span-2"
        />))
      }
      <h2 class="absolute inset-0 flex items-end justify-center p-2 text-xl font-semibold tracking-wider text-center rounded-b-lg sm:text-2xl bg-gradient-to-t from-black/60 from-15% to-transparent to-30%">{char.Name}</h2>
    </a>
  ))
}