---
import Layout from '../../layouts/Layout.astro'
import characters from '../../data/characters.json'
import BentoItem from '../../components/BentoItem.astro'

const { ID } = Astro.params

export async function getStaticPaths() {
    return characters.map(item => ({
        params: { ID: item.ID},
    }))
}

const char = characters.filter(item => item.ID === ID)
---

<Layout 
    title={char[0].Name}
    description=`Character info: ${char[0].Name}`
>
  <section class="grid max-w-6xl gap-2 p-2 m-auto overflow-hidden auto-rows-min md:grid-cols-12"
  >
    <BentoItem title="Image"                    class="md:col-span-3 md:row-span-6">
      <img class="object-scale-down object-bottom w-auto m-auto rounded-lg sm:object-cover h-60 sm:h-full" src={char[0].Image} alt={char[0].Name}>
    </BentoItem>
    <BentoItem title="Bio"                      class="md:col-span-6 md:row-span-3">
      <h2 class="mb-2 text-2xl font-semibold">{char[0].Name}</h2>
      <p class="text-justify text-balance">Alear is the main protagonist in Fire Emblem Engage. As an Avatar, their gender, along with their name and birthday, is determined by the player.</p>
    </BentoItem>
    <BentoItem title="Recruitment"              class="md:col-span-3 md:row-span-2">
      <p>{char[0].RecruitementChapter} ({char[0].RecruitementDescription})</p>
    </BentoItem>
    <BentoItem title="Base SP"                  class="md:col-span-3 md:row-span-1">
      <p>{char[0].BaseSP}</p>
    </BentoItem>
    <BentoItem title="Personal Skill"           class="md:col-span-9 md:row-span-1">
      <img class="inline h-auto mr-2 align-middle rounded-sm w-7" src={char[0].PersonalSkillIcon} alt={char[0].PersonalSkill}/>
      <p class="inline align-middle">{char[0].PersonalSkill}: {char[0].PersonalSkillDesc}</p>
    </BentoItem>
    <BentoItem title="Proficiencies"     class="md:col-span-4 md:row-span-2">
      <img class="inline h-auto mr-1 align-middle rounded-sm w-7" src=`../src/data/images/${char[0].InnateProficiencies}.png` alt={char[0].InnateProficiencies}/>
      <p class="inline font-semibold align-middle text-cyan-400">{char[0].InnateProficiencies} (Innate)</p>
      <img class="inline h-auto ml-2 mr-1 align-middle rounded-sm w-7" src=`../src/data/images/${char[0].Proficiencies}.png` alt={char[0].Proficiencies}/>
      <p class="inline align-middle">{char[0].Proficiencies}</p>
    </BentoItem>
    <BentoItem title="Libre"            class="md:col-span-5 md:row-span-2">
      
    </BentoItem>
    <BentoItem title="Level"                    class="md:col-span-4 md:row-span-2">
      <p>Base: {char[0].BaseLevel}</p>
      <p>Base Internal: {char[0].BaseInternalLevel}</p>
      <!--
        slider de nivel base y un check button para indicar el momento de asencion
        cuando elige una clase avanzada en el dropdawn de clase, lo de arriba se deshabilita para no cambiarlo
        se habilita entonces un slider de nivel para la clase avanzada
        entonces en el calculo se toma la clase base y los crecimiento base, durante los niveles que se colocaron antes de marcar el check
        a eso se le suma el caluclo de los niveles del segundo slider, con los crecimientos de la clase avanzada
      -->
    </BentoItem>
    <BentoItem title="Class"                    class="md:col-span-4 md:row-span-2">
      <p>Base: {char[0].BaseClass}</p>
    </BentoItem>
    <BentoItem title="Emblem / Ring"            class="md:col-span-4 md:row-span-2">
      <p>Emblem or ring equiped and effect</p>
    </BentoItem>
    <BentoItem title="Stats"                    class="md:col-span-6 md:row-span-2">
      <table class="w-full text-xs text-center text-gray-400 bg-gray-700 sm:text-sm">
        <thead>
          <tr>
            <th class="text-md" colspan="10">STATS</th>
          </tr>  
          <tr>
              <th>HP</th>
              <th>STR</th>
              <th>MAG</th>
              <th>DEX</th>
              <th>SPD</th>
              <th>DEF</th>
              <th>RES</th>
              <th>LCK</th>
              <th>BLD</th>
              <th>MOV</th>
            </tr>
        </thead>
        <tbody>
          <tr class="bg-gray-800">
            <td>{char[0].BaseHp}</td>
            <td>{char[0].BaseStr}</td>
            <td>{char[0].BaseMag}</td>
            <td>{char[0].BaseDex}</td>
            <td>{char[0].BaseSpd}</td>
            <td>{char[0].BaseDef}</td>
            <td>{char[0].BaseRes}</td>
            <td>{char[0].BaseLck}</td>
            <td>{char[0].BaseBld}</td>
            <td>{char[0].BaseMov}</td>
          </tr>
        </tbody>
      </table>
    </BentoItem>
    <BentoItem title="Growth Rates"                  class="md:col-span-6 md:row-span-2">
      <table class="w-full text-xs text-center text-gray-400 bg-gray-700 sm:text-sm">
        <thead>
          <tr>
            <th class="text-md" colspan="10">GROWTH RATES</th>
          </tr>  
          <tr>
            <th>HP</th>
            <th>STR</th>
            <th>MAG</th>
            <th>DEX</th>
            <th>SPD</th>
            <th>DEF</th>
            <th>RES</th>
            <th>LCK</th>
            <th>BLD</th>
            <th>MOV</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-gray-800">
            <td>{char[0].GrowthHp}</td>
            <td>{char[0].GrowthStr}</td>
            <td>{char[0].GrowthMag}</td>
            <td>{char[0].GrowthDex}</td>
            <td>{char[0].GrowthSpd}</td>
            <td>{char[0].GrowthDef}</td>
            <td>{char[0].GrowthRes}</td>
            <td>{char[0].GrowthLck}</td>
            <td>{char[0].GrowthBld}</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </BentoItem>
  </section>
</Layout>
